.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 30vh;
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTask button {
  width: 70px;
  height: 28px;
  margin-left: 5px;
  text-align: center;
  font-weight: 700;
  background-color: bisque;
  color: rgb(9, 73, 136);
  padding: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.addTask input {
  color: rgb(9, 73, 136);
  font-weight: 700;
  text-align: center;
  background-color: bisque;
  border: none;
  height: 26px;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 600px;
  height: 50px;
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: center;
}

.task h2 {
  color: rgb(39, 57, 175);
}

.task button {
  width: 25px;
  height: 20px;
  margin-left: 30px;
  text-align: center;
  font-weight: 700;
  background-color: crimson;
  color: rgb(4, 51, 98);
  outline: none;
  border: 1px solid rgb(9, 73, 136);
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .update {
  width: 85px;
  background-color: forestgreen;
  color: bisque;
  font-weight: 400;
}
